body{ 
    background-color: #000000;
    color: #D9D9D9;
    font-family: Helvetica Neue;
    overflow: none;
}
.container {
    padding: 0px 0px;
}

#bg_img img {
    width: 782px;    
  }

.dim-text {
    color: #6E767D;
    font-size: 14px;
    font-weight: 700;
}

h4#bottom_link {
    vertical-align: bottom;
    font-weight: 1000;
    margin: 0px 0px 0px 0px;
}

#profile {
    margin-left: -12px;
}

#profile_img {
    border-radius: 50%;
    border: 5px solid #000;
    margin-top: -65px;
    height:131px;
}

#sidebar {
    position: fixed;
    float: right;
    text-align: right;
    margin-left: 10rem;
}

.material-icons {
    font-size: 100%;
}

#mainopt {
    color: #1DA1F2;
    cursor: pointer;
    font-size: xx-large;
    margin-top: 15px;
}

.following {
    color: #D9D9D9;
    background-color: #1DA1F2;
    border: none;
    border-radius: 13px;
    margin-top: 15px;
    padding: 0px 10px;
    font-size: large;
}

.at_text {
    color: #6E767D;
    font-weight: 500;
}

.a_link {
    color: #1DA1F2;
    text-decoration: none;
}
.a_link :hover{
    color: #1DA1F2;
    text-decoration: underline;
}
.a_link :visited{
    color: #1DA1F2;
    text-decoration: none;
}

.location {
    color: #6E767D;
    margin-top: 10px;
}

.link {
    color: #6E767D;
    margin-top: 10px;
}

.date {
    color: #6E767D;
    margin-top: 10px;
}

table.tabs th:hover{
    background-color: #031019;
    color: #1DA1F2;
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
}

table.funtab th:hover{
    background-color: #031019;
    color: #1DA1F2;
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
}

#profile_tile {
    border-radius: 50%;
    height: 50px;
}

.search-container input {
    background-color: #202327;
    color: #6E767D;
    height:46px;
    width: 300px;
    border-radius: 48px;
    margin-top: 12px;
}

.widgets__widgetContainer{
    margin-top: 30px;
    margin-left: -10px;
    padding: 10px 10px 10px 10px;
    background-color: #303336;
    border-radius: 12px;
}


ul.navbar_list li {
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul.navbar_list li:hover {
    color: #1DA1F2;
    background-color: #051927;
    width: fit-content;
    border-radius: 12px;
    cursor: pointer;
}

button.tweet_btn {
    color: #D9D9D9;
    background-color: #1DA1F2;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    border-radius: 48px;
    font-size: x-large;
    border: none;
}

.widgetmult:hover{
    cursor: pointer;
}

.tofollow {
    margin-top: 30px;
    margin-left: 0px;
    padding: 10px 10px 0px 10px;
    background-color: #15181C;
    border-radius: 12px;
    border: 2px solid #15181C;
}

button.follow_btn {
    margin-left: 18px;
    width: 100px;
    border-radius: 15px;
    background-color: transparent;
    color: #1DA1F2;
    border-color: #1DA1F2;
}

button.follow_btn:hover {
    background-color: #1C2C38;
}

.followitem {
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #6E767D;
}

.followitem:hover {
    background-color: #1C1F23;
    cursor: pointer;
}


.followtitle {
    font-size: medium;
    font-weight: 750;
}

.followtitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.followtitcat {
    color: #51575E;
    font-size: medium;
    margin-top: -5px;
}